<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>ManageMyPayroll</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags 'application' %>
  </head>

  <body class="bg-rose-200 text-gray-900 relative">
      <%= render 'layouts/navigation' %>
      <main class="main-container mx-auto max-w-7xl pt-10 ml-0 min-h-screen h-full">
          <%= turbo_frame_tag "modal" %>
          <%= yield %>
      </main>

  </body>
</html>
