<div id="<%= dom_id employee %>">
  <p>
    <strong>Index:</strong>
    <%= employee.index %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= employee.show %>
  </p>

  <p>
    <strong>New:</strong>
    <%= employee.new %>
  </p>

  <p>
    <strong>Create:</strong>
    <%= employee.create %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= employee.edit %>
  </p>

  <p>
    <strong>Update:</strong>
    <%= employee.update %>
  </p>

  <p>
    <strong>Destroy:</strong>
    <%= employee.destroy %>
  </p>

</div>
