<div class="flex flex-col p-6 sm:p-10 space-y-6 relative h-screen w-screen">
  <div id="overlay" class="fixed inset-0 bg-gray-800 opacity-75 hidden"></div>
  <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
    <h1 class="text-4xl font-semibold mb-2">Departements Dashboard</h1>
    <%= link_to 'Create new team', new_team_path, data: { turbo_frame: "modal" }, class:'flex justify-center bg-red-500 hover:bg-red-700 font-bold py-2 px-4 rounded' %>
  </div>
  <div class="flex flex-col overflow-y-auto px-5 py-3">
    <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-6 py-6" >
      <% @departements.each do |d| %>
        <button data-box="<%= d.id%>" class="taxation-button btn-ouline box flex items-center p-8 bg-white shadow rounded-lg">
            <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                <path fill-rule="evenodd" d="M1.5 7.125c0-1.036.84-1.875 1.875-1.875h6c1.036 0 1.875.84 1.875 1.875v3.75c0 1.036-.84 1.875-1.875 1.875h-6A1.875 1.875 0 011.5 10.875v-3.75zm12 1.5c0-1.036.84-1.875 1.875-1.875h5.25c1.035 0 1.875.84 1.875 1.875v8.25c0 1.035-.84 1.875-1.875 1.875h-5.25a1.875 1.875 0 01-1.875-1.875v-8.25zM3 16.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875v2.25c0 1.035-.84 1.875-1.875 1.875h-5.25A1.875 1.875 0 013 18.375v-2.25z" clip-rule="evenodd" />
              </svg>
            </div>
            <div>
              <span class="block text-2xl font-bold"><%= d.name %></span>
            </div>
        </button>
        <div data-modal="<%= d.id%>" class="taxation-modal fixed inset-0 flex flex-col items-center justify-center p-8 hidden">
          <div class="bg-none p-4">
            <button type="button" class="closeModalButton sm:mx-0 w-full text-white font-wold text-xl flex justify-end py-3 my-3">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
            <% if d.teams.empty? %>
              <h1 class="uppercase text-start text-white font-bold text-xl">There is not team associated to this departement!</h1>
            <% else %>
              <h1 class="uppercase text-start text-white font-bold text-xl"><%= d.teams.count %> teams in <%= d.name %></h1>
              <div class="teams flex flex-col md:flex-row items-center justify-center">
                <div class="sm:flex sm:items-start">
                  <% d.teams.each do |t| %>
                    <div class="circle-team rounded-full bg-gray-800 text-pink-200 w-48 h-48 flex align-center justify-center items-center my-3 mx-3">
                      <h2 class="text-xl font-semibold"><%= link_to t.name, departement_team_path(d.id, t) %></h2>
                    </div>
                  <% end %>
                </div>
              </div> 
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

